@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-background: 240, 243, 255;
  --light-theme-primary: 63, 60, 187;
  --dark-background: 28, 28, 39;
  --dark-overlay: 0, 0, 0;
}

body {
  font-family: 'Inter', sans-serif;
}

/* popup */
.popup {
  transition: ease-in-out;
  transition-duration: 1500ms;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.dark .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--dark-overlay), 0.8);
  backdrop-filter: blur(20px);
  z-index: 10;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .dark .overlay {
    background-color: rgba(var(--dark-overlay), 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}

@media only screen and (max-width: 499px) {
  .popup {
    width: 100%;
    height: auto;
  }
}
